<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>Cloud based software services, Agile Sonic</title>
  <meta name="description" content="Agile software engineering for cloud based software services" />
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <!--[if lt IE 9]>
  <%= javascript_include_tag "html5shiv" %>
  <![endif]-->
  <%= javascript_include_tag "jquery-1.7.2.min" %>
  <%= stylesheet_link_tag    "agilesonic" %>
  <%= javascript_include_tag "agilesonic" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
